.generatorplugin 
{
    pointer-events: all;
    width: 150px;
    height: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0px;
    left:0px;
    z-index: 2;
}
.generatorplugin .body
{
    width: 100px;
    height: 100%;
    border: 4px solid black;
    background-color: #666;
    box-sizing: border-box;
}
.generatorplugin .body > *
{
    pointer-events: none;
    user-select: none;
}